.food-item {
  width: 25%;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  background: #1F1D2B;
  border-radius: 16px;
  margin: 50px 18px;
  position: relative;
}

.food-item img {
  position: absolute;
  width: 139px;
  height: 139px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  top: -34%;
  left: 23%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-animation-name: ImgAnimation;
          animation-name: ImgAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes ImgAnimation {
  from {
    -webkit-transform: rotate(0) translate(0%, 0%);
            transform: rotate(0) translate(0%, 0%);
    border-radius: 50%;
  }
  to {
    -webkit-transform: rotate(400deg) translate(0%, 0%);
            transform: rotate(400deg) translate(0%, 0%);
    border-radius: 50%;
  }
}

@keyframes ImgAnimation {
  from {
    -webkit-transform: rotate(0) translate(0%, 0%);
            transform: rotate(0) translate(0%, 0%);
    border-radius: 50%;
  }
  to {
    -webkit-transform: rotate(400deg) translate(0%, 0%);
            transform: rotate(400deg) translate(0%, 0%);
    border-radius: 50%;
  }
}

.food-item h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 130%;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 150px;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 12px 0px;
  padding-top: 45px;
}

.food-item p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 4px 0px;
}

.food-item span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #ABBBC2;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 4px 0px;
}

.food-item span .food-span {
  padding-left: 8px;
}
/*# sourceMappingURL=FoodCard.css.map */