@import "../../Assets/Scss/Colors.scss";


.home{
  width: 100%;
  display: flex;
  justify-content: space-between;
  

  &-left{
    width: 70%;
    
  }

  &__middle{
    padding: 24px 10px 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    &-title{
      font-weight: 600;
      font-size: 20px;
    }
    &-select{
      border-radius: 8px;
      padding: 15px 14px;
      padding-left: 44px;
      background-color: $main-dark;
      border:1px solid #393c49;
      -webkit-appearance:none;
      -moz-appearance:none;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #fff;
      background-repeat: no-repeat;
      background-position: left 14px center;
      background-image: url("../../Assets/Img/Mask.png");
    cursor: pointer;
    outline: none;
    

    option{
      z-index: 1;
      font-size: 16px;
      text-align: left;
      
    }
    }
  }
  &__right{
    height: 100vh;
    width: 30%;
    background-color: $main-dark;
    padding:20px 15px;
    padding-right: 0;

    &-title{
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #FFFFFF;

    }
    &-btn{
      width: 69px;
      padding: 6px;
      border: none;
      margin: 0px 12px;
      background-color: transparent;
      color: #EA7C69;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
   margin-top: 12px;
   margin-bottom: 18px;
      color: #EA7C69;
      background: #1F1D2B;
      /* Base / Dark Line */
      
      border: 1px solid #393C49;
      box-sizing: border-box;
      border-radius: 8px;      
    }

    &-box{
      margin: 0px 10px;
      background: #1F1D2B;
      // border: 1px solid #393C49;
      box-sizing: border-box;
      border-radius: 8px;
      margin-top: 15px;

    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0px;
      border-bottom: 1px solid #393C49;
      padding-right: 25px;

      &-text{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
 
        
      }
      span{
        width: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}